{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="page-header">
	<div class="overly"></div> 	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="content text-center">
					<h1 class="mb-3">Product Single</h1>
					<p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>

				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb bg-transparent justify-content-center">
				    <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Product Single</li>
				  </ol>
				</nav>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}