{% load static %}
<section class="section products-list">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-12 col-md-12">
			    <img src="{% static 'images/shop/widget/adsv.jpg' %}" alt="Product big thumb"  class="img-fluid w-100">
			</div>

			<div class="col-lg-4 col-sm-6 col-md-6">
				<div class="widget-featured-entries mt-5 mt-lg-0">
					<h4 class="mb-4 pb-3">Best selllers</h4>

		            <div class="media mb-3">
		            	<a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-1.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Keds - Kickstart Pom Pom</a></h6>
		                <p class="featured-entry-meta">$42.99</p>
		              </div>
		            </div>

		            <div class="media mb-3">
		            	<a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-2.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Nike - Brasilia Medium Backpack</a></h6>
		                <p class="featured-entry-meta">$27.99</p>
		              </div>
		            </div>

		            <div class="media mb-3">
			            <a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-3.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Guess - GU7295</a></h6>
		                <p>$38.00</p>
		              </div>
		            </div>

		            <div class="media mb-3">
		            	<a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-4.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Adidas Originals Cap</a></h6>
		                <p class="featured-entry-meta">$35.00</p>
		              </div>
		            </div>

		            <div class="media">
		            	<a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-5.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Big Star Flip Tops</a></h6>
		                <p class="featured-entry-meta">$10.60</p>
		              </div>
		            </div>
				</div>
			</div>


			<div class="col-lg-4 col-sm-6 col-md-6">
				<div class="widget-featured-entries mt-5 mt-lg-0">
					<h4 class="mb-4 pb-3">New Arrivals</h4>

		            <div class="media mb-3">
		            	<a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-7.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Keds - Kickstart Pom Pom</a></h6>
		                <p class="featured-entry-meta">$42.99</p>
		              </div>
		            </div>

		            <div class="media mb-3">
		            	<a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-8.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Nike - Brasilia Medium Backpack</a></h6>
		                <p class="featured-entry-meta">$27.99</p>
		              </div>
		            </div>

		            <div class="media mb-3">
			            <a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-1.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Guess - GU7295</a></h6>
		                <p>$38.00</p>
		              </div>
		            </div>

		            <div class="media mb-3">
		            	<a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-2.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Adidas Originals Cap</a></h6>
		                <p class="featured-entry-meta">$35.00</p>
		              </div>
		            </div>

		            <div class="media">
		            	<a class="featured-entry-thumb" href="#">
			            	<img src="{% static 'images/shop/widget/p-4.jpg' %}" alt="Product thumb" width="64" class="img-fluid mr-3">
			            </a>
		              <div class="media-body">
		                <h6 class="featured-entry-title mb-0"><a href="product-single.html">Big Star Flip Tops</a></h6>
		                <p class="featured-entry-meta">$10.60</p>
		              </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</section>