{% load static %}

<section class="section products-main">
  <div class="container">
  	  <div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="title text-center">
					<h2>New arrivals</h2>
					<p>The best Online sales to shop these weekend</p>
				</div>
			</div>
		</div>


    <div class="row">
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
      	<div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/444.jpg' %}" alt="product-img" /></a>
			</div>

			<span class="onsale">Sale</span>
			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Floral Kirby</a></h2>
				<span class="price">
					$329.10
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/111.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/444.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>
	      	
			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Open knit switer</a></h2>
				<span class="price">
					$29.10
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/222.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
			</div>

			<span class="onsale">Sale</span>
			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Official trendy</a></h2>
				<span class="price">
					$350.00 – $355.00
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
		<div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/111.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Frock short</a></h2>
				<span class="price">
					$249
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/444.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/222.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Sleeve dress</a></h2>
				<span class="price">
					$59.10
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/222.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Stylish dress</a></h2>
				<span class="price">
					$99.00
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 " >
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/111.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/444.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Body suite</a></h2>
				<span class="price">
					$329.10
				</span>
			</div>
		</div>
      </div>

	 <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 " >
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/222.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Sleeve linen shirt</a></h2>
				<span class="price">
					<del>60$</del>
					$50.10
				</span>
			</div>
		</div>
      </div>
    </div>
  </div>
</section>