{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'partials/_sub_nav_header.html' %}

<section class="products-shop section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row align-items-center">
					<div class="col-lg-12 mb-4 mb-lg-0">
						<div class="section-title">
								<h2 class="d-block text-left-sm">Shop</h2>

								<div class="heading d-flex justify-content-between mb-5">
									<p class="result-count mb-0"> Showing 1–16 of 17 results</p>
									<form class="ordering " method="get">
											<select name="orderby" class="orderby form-control" aria-label="Shop order" >
													<option value="" selected="selected">Default sorting</option>
													<option value="">Sort by popularity</option>
													<option value="">Sort by average rating</option>
													<option value="">Sort by latest</option>
													<option value="">Sort by price: low to high</option>
													<option value="">Sort by price: high to low</option>
											</select>
											<input type="hidden" name="paged" value="1">
									</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
						<div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5" >
      	<div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/444.jpg' %}" alt="product-img" /></a>
			</div>

			<span class="onsale">Sale</span>
			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Floral Kirby</a></h2>
				<span class="price">
					$329.10
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/111.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/444.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>
	      	
			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Open knit switer</a></h2>
				<span class="price">
					$29.10
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5" >
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/222.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
			</div>

			<span class="onsale">Sale</span>
			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Official trendy</a></h2>
				<span class="price">
					$350.00 – $355.00
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5">
		<div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/111.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Frock short</a></h2>
				<span class="price">
					$249
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/444.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/222.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Sleeve dress</a></h2>
				<span class="price">
					$59.10
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5" >
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/222.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Stylish dress</a></h2>
				<span class="price">
					$99.00
				</span>
			</div>
		</div>
      </div>

      <div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5 " >
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/111.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/444.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">BOdy suite</a></h2>
				<span class="price">
					$329.10
				</span>
			</div>
		</div>
      </div>

	 <div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5 " >
        <div class="product">
			<div class="product-wrap">
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-first" src="{% static 'images/shop/products/222.jpg' %}" alt="product-img" /></a>
				<a href="product-single.html"><img class="img-fluid w-100 mb-3 img-second" src="{% static 'images/shop/products/322.jpg' %}" alt="product-img" /></a>
			</div>

			<div class="product-hover-overlay">
				<a href="#"><i class="tf-ion-android-cart"></i></a>
				<a href="#"><i class="tf-ion-ios-heart"></i></a>
	      	</div>

			<div class="product-info">
				<h2 class="product-title h5 mb-0"><a href="product-single.html">Sleeve linen shirt</a></h2>
				<span class="price">
					<del>60$</del>
					$50.10
				</span>
			</div>
		</div>
      </div>

					<div class="col-12">
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>				
			</div>
			<div class="col-md-3">
				<!-- categories -->
<section class="widget widget-categories mb-5">
	<h3 class="widget-title h4 mb-4">Categories</h3>
	<ul>
		<li class="has-children expanded"><a>Shoes</a><span>(1138)</span>
			<ul>
				<li><a href="#">Women's</a><span>(508)</span>
					<ul>
						<li><a href="#">Sneakers</a></li>
						<li><a href="#">Heels</a></li>
						<li><a href="#">Loafers</a></li>
						<li><a href="#">Sandals</a></li>
					</ul>
				</li>
				<li><a href="#">Men's</a><span>(423)</span>
					<ul>
						<li><a href="#">Boots</a></li>
						<li><a href="#">Oxfords</a></li>
						<li><a href="#">Loafers</a></li>
						<li><a href="#">Sandals</a></li>
					</ul>
				</li>
				<li><a href="#">Boy's Shoes</a><span>(97)</span></li>
				<li><a href="#">Girl's Shoes</a><span>(110)</span></li>
			</ul>
		</li>
		<li class="has-children"><a>Clothing</a><span>(2356)</span>
			<ul>
				<li><a href="#">Women's</a><span>(1032)</span>
					<ul>
						<li><a href="#">Dresses</a></li>
						<li><a href="#">Shirts &amp; Tops</a></li>
						<li><a href="#">Swimwear</a></li>
						<li><a href="#">Shorts</a></li>
					</ul>
				</li>
				<li><a href="#">Men's</a><span>(937)</span>
					<ul>
						<li><a href="#">Shirts &amp; Tops</a></li>
						<li><a href="#">Shorts</a></li>
						<li><a href="#">Swimwear</a></li>
						<li><a href="#">Pants</a></li>
					</ul>
				</li>
				<li><a href="#">Kid's Clothing</a><span>(386)</span></li>
			</ul>
		</li>
		<li class="has-children"><a>Bags</a><span>(420)</span>
			<ul>
				<li><a href="#">Handbags</a><span>(180)</span></li>
				<li><a href="#">Backpacks</a><span>(132)</span></li>
				<li><a href="#">Wallets &amp; Accessories</a><span>(47)</span></li>
				<li><a href="#">Luggage</a><span>(61)</span></li>
			</ul>
		</li>
		<li class="has-children"><a>Accessories</a><span>(874)</span>
			<ul>
				<li><a href="#">Sunglasses</a><span>(211)</span></li>
				<li><a href="#">Hats</a><span>(195)</span></li>
				<li><a href="#">Watches</a><span>(159)</span></li>
				<li><a href="#">Jewelry</a><span>(203)</span></li>
				<li><a href="#">Belts</a><span>(106)</span></li>
			</ul>
		</li>
	</ul>
</section>

<!-- color and size -->
<form action="#" class="mb-5">

	<!-- price range -->
	<section id="#" class="widget widget_price_filter mb-5">
		<h3 class="widget-title h4 mb-4">Filter by price</h3>
		<div class="price_slider_wrapper">
			<div class="price_slider_amount" data-step="10">
				<input class="range-track" type="text" data-slider-min="0" data-slider-max="1000" data-slider-step="5"
					data-slider-value="[0,300]" />
				<div class="price_label mb-3">
					Price: <span class="value">$0 - $300</span>
				</div>
			</div>
		</div>
	</section>
	<!-- color -->
	<section class="widget widget-colors mb-5">
		<h3 class="widget-title h4 mb-4">Shop by color</h3>
		<ul class="list-inline">
			<li class="list-inline-item mr-4">
				<div class="custom-control custom-checkbox color-checkbox">
					<input type="checkbox" class="custom-control-input" id="color1">
					<label class="custom-control-label sky-blue" for="color1"></label>
				</div>
			</li>
			<li class="list-inline-item mr-4">
				<div class="custom-control custom-checkbox color-checkbox">
					<input type="checkbox" class="custom-control-input" id="color2" checked>
					<label class="custom-control-label red" for="color2"></label>
				</div>
			</li>
			<li class="list-inline-item mr-4">
				<div class="custom-control custom-checkbox color-checkbox">
					<input type="checkbox" class="custom-control-input" id="color3">
					<label class="custom-control-label dark" for="color3"></label>
				</div>
			</li>
			<li class="list-inline-item mr-4">
				<div class="custom-control custom-checkbox color-checkbox">
					<input type="checkbox" class="custom-control-input" id="color4">
					<label class="custom-control-label magenta" for="color4"></label>
				</div>
			</li>
			<li class="list-inline-item mr-4">
				<div class="custom-control custom-checkbox color-checkbox">
					<input type="checkbox" class="custom-control-input" id="color5">
					<label class="custom-control-label yellow" for="color5"></label>
				</div>
			</li>
		</ul>
	</section>

	<!-- size -->
	<section class="widget widget-sizes mb-5">
		<h3 class="widget-title h4 mb-4">Shop by Sizes</h3>
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="size1" checked>
			<label class="custom-control-label" for="size1">L Large</label>
		</div>
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="size2">
			<label class="custom-control-label" for="size2">XL Extra Large</label>
		</div>
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="size3">
			<label class="custom-control-label" for="size3">M Medium</label>
		</div>
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="size4">
			<label class="custom-control-label" for="size4">S Small</label>
		</div>
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="size5">
			<label class="custom-control-label" for="size5">XS Extra Small</label>
		</div>
	</section>

	<button type="submit" class="btn btn-black btn-small">Filter</button>
</form>

<!-- popular product -->
<section class="widget widget-popular mb-5">
	<h3 class="widget-title mb-4 h4">Popular Products</h3>
	<a class="popular-products-item media" href="product-single.html">
		<img src="{% static 'images/shop/p-1.jpg' %}" alt="" class="img-fluid mr-4">
		<div class="media-body">
			<h6>Contrast <br>Backpack</h6>
			<span class="price">$45</span>
		</div>
	</a>

	<a class="popular-products-item media" href="product-single.html">
		<img src="{% static 'images/shop/p-2.jpg' %}" alt="" class="img-fluid mr-4">
		<div class="media-body">
			<h6>Hoodie with <br>Logo</h6>
			<span class="price">$45</span>
		</div>
	</a>

	<a class="popular-products-item media" href="product-single.html">
		<img src="{% static 'images/shop/p-3.jpg' %}" alt="" class="img-fluid mr-4">
		<div class="media-body">
			<h6>Traveller<br>Backpack</h6>
			<span class="price">$45</span>
		</div>
	</a>
</section>
			</div>
		</div>
	</div>
</section>
{% endblock content %}